* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #223243;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #223243;
    width: 100%;
    height: 3rem;
    min-height: 50px;
    padding: 0 10px;
    z-index: 1;
    box-shadow: 0 5px 20px black;
}

.menu-1 {
    width: 90%;
    color:#00dfc4;
}

.menu-2 {
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu-options {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 1rem;
    list-style-type: none;
    position: relative;
}

a {
    text-decoration: none;
    color: #DC3545;
}

.slide-bar,.navbar .hamburger,.navbar .hamburger .line {
    display: none;
}

.key {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #e9edf3;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 80px;
    color: #00dfc4;
    z-index: 5;
    border-radius: 5px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    width: 80%;
    height: 300px;
    margin: 50px auto;
    padding: 50px 50px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

@media (max-width:700px) {
    .navbar .hamburger {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 0.8rem;
        left: 0.5rem;
        z-index:  2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navbar .hamburger .line {
        display: block;
        height: 0.35rem;
        width: 100%;
        border-radius: 10px;
        background-color: #00dfc4;
    }
    .slide-bar {
        position: absolute;
        display: block;
        top: 4rem;
        background-color: #00dfc4;
        z-index: 5;
        margin-top: -14px;
        width: 80%;
        max-width: 350px;
        height: calc(100vh);
        transform: translateX(-101%);
    }

    .key {
        display: flex;
        width: 30px;
        height: 30px;
        background-color: whitesmoke;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: large;
        color: #00dfc4;
        z-index: 3;
        border-radius: 5px;
    }
    
    .keyboard {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 80%;
        height: auto;
        margin: 50px auto;
        padding: 50px 2px 50px;
        align-items: center;
        background-color: #fff;
    }

    .hidden-menu-options {
        display: flex;
        flex-direction: column;
        align-content: start;
        row-gap: 1rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
        list-style-type: none;
    }

    .hidden-menu-options li {
        position: relative;
        right: 2rem;
    }

    .menu-options {
        display: none;
    }
    
    .show {
        transform: translateX(0);
    }
    .slide-bar,.show {
        transition: all 0.5s ease-in-out;
    }
}